streamlit
pandas
pillow
python-docx
python-pptx
easyocr
xlrd
openpyxl
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
transformers
torch
sentence-transformers
faiss-cpu
pypdf
